@import './reset.scss';
@import './components/primary-menu.scss';
@import './components/footer-menu.scss';
@import './components/post-navigation.scss';
@import './components/containers.scss';
@import './components/fonts.scss';
@import './components/main-page-container.scss';
@import './components/divider.scss';
@import './components/link-button.scss';

.custom-admin-info {
    color: aqua;
}

body {
    width: 100%;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
