
.main-menu {
  display: flex;
  align-self: center;
  gap: 1rem;
  & ul {
    display: flex;
    transform: translate(-25%, 0);
    z-index: 100;
  }
  & li {
    position: relative;
  }

  & a {
    display: block;
    font-weight: bold;
  }
  & ul.sub-menu {
    display: none;
    position: absolute;
  }
  & li:hover > ul.sub-menu {
    display: block;
  }  
}
