$text-50: #f6f6f6;
$text-100: #e7e7e7;
$text-200: #d1d1d1;
$text-300: #b0b0b0;
$text-400: #888888;
$text-500: #6d6d6d;
$text-600: #5c5c5c;
$text-700: #4f4f4f;
$text-800: #454545;
$text-900: #3d3d3d;
$text-950: #262626;

$black-50: #f6f6f6;
$black-100: #e7e7e7;
$black-200: #d1d1d1;
$black-300: #b0b0b0;
$black-400: #888888;
$black-500: #6d6d6d;
$black-600: #5d5d5d;
$black-700: #4f4f4f;
$black-800: #454545;
$black-900: #3d3d3d;
$black-950: #000000;

$text-purple-50: #fbf5ff;
$text-purple-100: #f5e8ff;
$text-purple-200: #edd6fe;
$text-purple-300: #e0b5fd;
$text-purple-400: #cd85fb;
$text-purple-500: #b957f5;
$text-purple-600: #a635e8;
$text-purple-700: #9024cc;
$text-purple-800: #7923a6;
$text-purple-900: #631d86;
$text-purple-950: #3b0755;

$text-blue-50: #eef2ff;
$text-blue-100: #e0e7ff;
$text-blue-200: #c7d2fe;
$text-blue-300: #a5b4fc;
$text-blue-400: #818cf8;
$text-blue-500: #6366f1;
$text-blue-600: #4f46e5;
$text-blue-700: #4338ca;
$text-blue-800: #3730a3;
$text-blue-900: #312e81;
$text-blue-950: #1e1b4b;

$blue-50: #f0f9ff;
$blue-100: #e0f2fe;
$blue-200: #bbe5fc;
$blue-300: #7fd0fa;
$blue-400: #3ab9f6;
$blue-500: #11a1e6;
$blue-600: #058ed9;
$blue-700: #05669f;
$blue-800: #095783;
$blue-900: #0d496d;
$blue-950: #092e48;

$gray-50: #f8fafa;
$gray-100: #f2f4f5;
$gray-200: #e6eaee;
$gray-300: #d2dae0;
$gray-400: #b8c3cd;
$gray-500: #95a3b3;
$gray-600: #8390a4;
$gray-700: #707c91;
$gray-800: #5e6979;
$gray-900: #4e5664;
$gray-950: #333a42;

$gray-darker-50: #f3f7f8;
$gray-darker-100: #e1e9ec;
$gray-darker-200: #c6d6db;
$gray-darker-300: #9fb8c1;
$gray-darker-400: #7093a0;
$gray-darker-500: #557785;
$gray-darker-600: #496371;
$gray-darker-700: #40535e;
$gray-darker-800: #3a4850;
$gray-darker-900: #333e46;
$gray-darker-950: #232c33;

$red-50: #fef2f2;
$red-100: #fee2e2;
$red-200: #fecacb;
$red-300: #fda4a5;
$red-400: #f97072;
$red-500: #f04345;
$red-600: #dd2527;
$red-700: #ba1b1d;
$red-800: #9a1a1c;
$red-900: #801c1d;
$red-950: #450a0b;

$orange-50: #fdf9ef;
$orange-100: #fbf1d9;
$orange-200: #f6e0b2;
$orange-300: #f2d398;
$orange-400: #e8aa4f;
$orange-500: #e2912d;
$orange-600: #d47922;
$orange-700: #b05e1e;
$orange-800: #8c4b20;
$orange-900: #713e1d;
$orange-950: #3d1e0d;
