@import "colors";

.link-hover-fx {
  transition: all 0.3s ease;
  will-change: transform;
  &:hover {
    contain: content;
    transform: scale(1.05);
    background-color: $gray-900;
    color: $blue-300;
    border-radius: 0.25rem;
  }
}

.search-input-fx {
  transition: all 0.3s ease;
  will-change: transform;
  &:hover {
    @apply text-black bg-gray-100;
  }
  &:focus {
    @apply text-black scale-125;
  }
}
