@import  "../variables";

.footer-menu {
    background-color: $container-bg;
    border-top: $default-border;
    box-shadow: $default-box-shadow;
    margin-top: $default-margin;
    padding: $default-padding;
    height: 100%;
    & > ul > li{ // Items in footer menu
        padding: $default-padding;
    }
}
.footer-info {
    background-color: $container-bg;
    color: $text-color-black-light;
}
