@import  "../variables";

.main-menu-container {
  border: $default-border;
  padding: $default-margin;
  box-shadow: $border-shadow;
  margin-bottom: $default-margin * 2;
  background-color: $container-bg;
  }

.main-menu {
  display: flex;
  gap: $item-gap;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    position: relative;
  }
  a {
    display: block;
  }
  ul.sub-menu {
    display: none;
    position: absolute;
  }
  li:hover > ul.sub-menu {
    display: block;
  }
}
